
{% extends 'baseback.html.twig' %}
{% block css %}
    <link href="{{ asset('plugins/custom/datatables/datatables.bundle.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('plugins/global/plugins.bundle.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/style.bundle.css')}}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="{{ asset('media/logos/alphalogo.png')}}" />
    <link rel="stylesheet" href="{{ asset('css/styles.min.css')}}" />
    <style>
        .custom-error-message { 
            background-color: #f8d7da; /* Light red background color */
            color: red; /* Dark red text color */
            padding: 10px; /* Add padding for better spacing */
            margin-top: 5px; /* Adjust margin as needed */
            border-radius: 5px;
        }
        .form-group {
        margin-bottom: 15px; /* Add space between input groups */
        }

        label {
            display: block; /* Display labels on a new line */
            margin-bottom: 5px;
            margin-top: 10px
        }

        textarea {
            height: 100px; /* Adjust the height of the textarea as needed */
        }
    </style>
{% endblock %}

{% block bodyback %}
    <div class="card mb-5 mb-xl-8">
        <div class="card-header border-0 pt-5" style="margin-top: 50px">
            <h3 class="card-title align-items-start flex-column">
                <span class="card-title fw-semibold">Services List</span>
            </h3>
            <a href="{{ path('generate_pdf') }}" class="btn btn-primary">Generate PDF</a>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_add_user">
                <span class="svg-icon svg-icon-2">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="currentColor" />
                        <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="currentColor" />
                    </svg>
                </span>
                Add
            </button>
        </div>
        <div class="card-body py-3">
            <div class="table-responsive">
                <table class="table align-middle gs-0 gy-4">
                    <thead>
                        <tr class="fw-bold text-white" style="background-color: #009EF7">
                            <th class="ps-4 min-w-100px rounded-start">Name</th>
                            <th class="min-w-125px">Description</th>
                            <th class="min-w-200px text-center rounded-end">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="d-flex justify-content-start flex-column">
                                            <a href="#" class="text-dark fw-bold text-hover-primary mb-1 fs-6">{{ service.nom }}</a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <a href="#" class="text-dark fw-bold text-hover-primary d-block mb-1 fs-6">{{ service.description }}</a>
                                </td>
                                <td class="text-end">
                                    <a href="{{ path('show_service', {'id': service.id}) }}" class="btn btn-bg-light btn-color-muted btn-active-color-primary btn-sm px-4 me-2">View</a>
                                    <a href="#" class="btn btn-sm btn-primary align-self-center edit-service" data-bs-toggle="modal" data-bs-target="#AddUserModal" data-service-id="{{ service.id }}">Edit Service</a>
                                    <form action="{{ path('delete_service', {'id': service.id}) }}" onsubmit="return confirm('Are you sure you want to delete this service?');" class="btn btn-sm px-4 me-2">
                                        <input type="hidden" name="_method" value="DELETE" />
                                        <button type="submit" class="btn btn-sm btn-primary align-self-center">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Modal - Add task -->
        <div class="modal fade" id="kt_modal_add_user" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered mw-650px">
                <div class="modal-content">
                    <div class="modal-header" id="kt_modal_add_user_header">
                        <h2 class="fw-bold">Add Service</h2>
                    </div>
                    <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
                        <form class="form w-100" novalidate="novalidate" id="kt_sign_up_form" method="post">
                            {{ form_start(form) }}
                            <div>
                                {{ form_label(form.nom) }}
                                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                                {% if form_errors(form.nom) %}
                                    <div class="alert alert-danger custom-error-message">
                                        {{ form_errors(form.nom)|trans({}, 'validators')|raw }}
                                    </div>
                                {% endif %}
                            </div>

                            <div>
                                {{ form_label(form.description) }}
                                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                                {% if form_errors(form.description) %}
                                    <div class="alert alert-danger custom-error-message">
                                        {{ form_errors(form.description)|trans({}, 'validators')|raw }}
                                    </div>
                                {% endif %}
                            </div>

                            <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Submit</button>
                            {{ form_end(form) }}
                        </form>
                    </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Edit Profile Modal -->
        <div class="modal fade" id="AddUserModal" tabindex="-1" aria-labelledby="AddUserModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="AddUserModalLabel">Edit Service</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <!-- Modal Body with the form -->
                    <div class="modal-body">
                        <span id="userId"></span>
                        <form method="post" novalidate="novalidate" action="{{ path('edit_service', {'id': 0}) }}" id="editServiceForm">
                            <div>
                                <label for="service_nom">Name</label>
                                <input type="text" id="service_nom" name="service[nom]" class="form-control" placeholder="Name" value="{{ service.nom }}" />
                            </div>

                            <div>
                                <label for="service_description">Description</label>
                                <textarea id="service_description" name="service[description]" class="form-control" placeholder="Description">{{ service.description }}</textarea>
                            </div>
                            <button type="submit" class="btn btn-primary" style="margin-top: 10px ">Save</button>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jsback %}
    <script src="{{ asset('/plugins/global/plugins.bundle.js')}}"></script>
    <script src="{{ asset('/js/scripts.bundle.js')}}"></script>
    <!--end::Global Javascript Bundle-->

    <!--begin::Custom Javascript(used for this page only)-->
    <script src="{{ asset('/js/custom/landing.js')}}"></script>
    <script src="{{ asset('js/custom/pages/pricing/general.js')}}"></script>
    <!--begin::Vendors Javascript(used for this page only)-->
    <script src="{{ asset('plugins/custom/datatables/datatables.bundle.js')}}"></script>
    <!--end::Vendors Javascript-->
    <!--begin::Custom Javascript(used for this page only)-->
    <script src="{{ asset('js/custom/pages/user-profile/general.js')}}"></script>
    <script src="{{ asset('js/widgets.bundle.js')}}"></script>
    <script src="{{ asset('js/custom/widgets.js')}}"></script>
    <script src="{{ asset('js/custom/apps/chat/chat.js')}}"></script>
    <script src="{{ asset('js/custom/utilities/modals/upgrade-plan.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const editButtons = document.querySelectorAll('.edit-service');
            const form = document.getElementById('editServiceForm');
            const modal = new bootstrap.Modal(document.getElementById('AddUserModal'));

            editButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const serviceId = this.getAttribute('data-service-id');

                    // Check if userId is not empty
                    if (serviceId) {
                        

                        // Update the form action with the user ID
                        form.action = "{{ path('edit_service', {'id': 0})|raw }}".replace('0', serviceId);

                        // Optionally, you can display the user ID in the modal
                        document.getElementById('userId').innerText = 'Service ID: ' + serviceId;

                        // Fetch user details via AJAX
                        fetch("{{ path('get_service_details', {'id': 0})|raw }}".replace('0', serviceId), {
                            headers: {
                                'X-Requested-With': 'XMLHttpRequest',
                            },
                        })
                            .then(response => response.json())
                            .then(data => {
                                console.log(data); // Check if data is received properly
                                // Update form fields with user details
                                form.querySelector('#service_nom').value = data.nom;
                                form.querySelector('#service_description').value = data.description;

                                // Note: Adjust the field names based on your Symfony form structure
                            })
                            .catch(error => console.error('Error fetching service details:', error));

                        // Attach form submission handler
                        form.addEventListener('submit', function (event) {
                            event.preventDefault(); // Prevent the default form submission
                            // You can add additional validation or confirmation logic here if needed

                            // Create a FormData object and append the CSRF token
                            const formData = new FormData(form);
                            formData.append('{{ csrf_token('edit_service') }}', '1'); // Replace '1' with your actual CSRF token

                            // Submit the form
                            fetch(form.action, {
                                method: 'POST',
                                body: formData,
                            })
                                .then(response => {
                                    if (response.ok) {
                                        console.log('Form submitted successfully!');
                                        modal.hide(); // Optionally, you can perform additional actions after successful form submission
                                        location.reload();
                                    } else {
                                        console.error('Form submission failed.');
                                    }
                                })
                                .catch(error => console.error('Error submitting form:', error));
                        });
                        
                    } else {
                        console.error('Invalid Service id:', serviceId);
                    }
                });
            });
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var radioButtons = document.querySelectorAll('.role-radio-buttons input[type="radio"]');

            radioButtons.forEach(function (radioButton) {
                radioButton.addEventListener('change', function () {
                    if (radioButton.checked) {
                        radioButtons.forEach(function (otherRadioButton) {
                            if (otherRadioButton !== radioButton) {
                                otherRadioButton.checked = false;
                            }
                        });
                    }
                });
            });
        });
    </script>

    <script src="{{ asset('libs/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{ asset('libs/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ asset('js/sidebarmenu.js')}}"></script>
    <script src="{{ asset('js/app.min.js')}}"></script>
    <script src="{{ asset('libs/apexcharts/dist/apexcharts.min.js')}}"></script>
    <script src="{{ asset('libs/simplebar/dist/simplebar.js')}}"></script>
    <script src="{{ asset('js/dashboard.js')}}"></script>
{% endblock %}
